@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&display=swap');

//Font
$MontserratFont: 'Montserrat', sans-serif;
$MontserratLight : 100;
$MontserratRegular : 400;
$MontserratBlack : 900;

body{
  margin: 0;
  padding: 0;
  font-family: $MontserratFont;
  font-weight: $MontserratRegular;
}

#container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1%;
  margin: 3%;
  height: 100%;
  width: 1000px;
  background: white;
  border-radius: 8px;
  box-shadow: 2px 6px 20px 2px rgba(10,10,120,0.15);

  .heading{
    display: flex;
    flex-direction: column;
    margin-top: 2%;

    .title{
      margin: 0;
      padding: 0;
      font-weight: $MontserratBlack;
    }

    .card-subtitle{
      margin: 0;
      padding: 0;
      font-weight: $MontserratLight;
    }
  }
}

