.modal-window {
    background-color: darkgray;
    display: flex;
    justify-content: center;
    z-index: 999;
    transition: all 0.3s;
    &:target {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
    }
}
